@import '../../variables';

footer {
  min-height: 150px;
  background-color: $background-100;
  color: $text-inverted;
  padding: 2rem 0 2rem 0;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  ul {
    list-style-type: none;
    padding: 0;
    li {
      img {
        padding-right: 1rem;
      }
      a {
        color: $text-inverted;
      }
    }
  }
}
