@import '../../styles/variables';

footer {
  background-color: $background-130;
  color: $text-inverted;
  padding: 1.5rem 0 1.5rem 0;
  font-size: smaller;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  a {
    color: $text-inverted;
  }

  .content {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0 2rem 0 0;
        img {
          padding-right: 1rem;
        }
        &.github {
          display: flex;
          align-items: center;
        }
      }
    }

    @media (max-width: $layout-breakpoint-sm) {
      div {
        width: 100%;
        text-align: center;
        padding: 0 0 1.5em 0;
      }

      ul li {
        padding: 0 1rem 0 0;
      }
    }
  }
}
