@import '../../node_modules/highlight.js/styles/default.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import 'theme';
@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: $text-primary;
  background: $background-500;
  max-width: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 80px;
  min-height: 100%;

  @media (max-width: $layout-breakpoint-sm) {
    padding-bottom: 124px;
  }
}

[mat-button], [mat-raised-button] {
  text-transform: uppercase;
}

.mat-body-1 {
  line-height: 2rem;
}

article {
  line-height: 2rem;

  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  h1, h2, h3, h4 {
    font-weight: normal;
  }
  @media (max-width: $layout-breakpoint-sm) {
    h1 {
      font-size: 1.2rem;
    }
  }
}

a {
  color: $text-secondary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.hljs {
  white-space: pre;
  word-wrap: normal;
  box-sizing: border-box;
  background: $background-300;
}

pre {
  overflow-x: auto;
  white-space: pre;

  code {
    white-space: inherit;
  }
}

.full-page {
  padding-top: 14rem;
  background: $background-100;

  @media (max-width: $layout-breakpoint-sm) {
    padding-top: 70px;
  }
}

.content-area-0 {
  background: $background-100;
  min-height: 80px;
  padding: 1rem 0 1rem 0;
}

.content-area-1 {
  background: $background-130;
  min-height: 80px;
  padding: 1rem 0 1rem 0;
}

.content-area-2 {
  background: $background-300;
  min-height: 80px;
  padding: 1rem 0 1rem 0;
}

.content-area-3 {
  background: $background-500;
  min-height: 80px;
  padding: 1rem 0 1rem 0;
}

.content {
  display: flex;
  justify-content: space-between;
  width: $layout-breakpoint-lg;
  line-height: 1.5rem;
  margin: auto;

  @media (max-width: $layout-breakpoint-sm) {
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (max-width: $layout-breakpoint-lg) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5rem 0 1.5rem;
  }
}

.adsense {
  padding: 1rem;
  text-align: center;

  ins {
    display: inline-block;
  }
}
