<div class="cover">
  <div class="title">
    <h1>Bartcode.co.uk</h1>
    <h2>Software Development & IT Management</h2>
    <button color="primary" md-raised-button>Read the Blog</button>
  </div>
</div>

<div class="content" fxLayout fxLayoutAlign="space-between top">
  <div fxFlex="50%">
    <h2>Topics</h2>
    <p>These are the topics covered by the posts.</p>
  </div>
  <post-tags fxFlex="50%"></post-tags>
</div>

<div class="content" fxLayout fxLayoutAlign="space-between top">
  <div fxFlex="50%">
    <h2>Popular</h2>
    <p>Measured by the number of social interactions.</p>
  </div>
  <post-popular fxFlex="50%"></post-popular>
</div>
