@import '../../variables';

.cover {
  padding-top: 14em;
  padding-bottom: 10em;
  text-align: center;
  color: $text-inverted;
  //noinspection CssUnknownTarget
  background: url('/assets/4.png') $background-100 no-repeat center center;
  background-size: cover;

  .title {
    h1 {
      text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
      font-size: 5em;
      margin: 0;
      text-transform: full-width;
      font-weight: normal;
      letter-spacing: .2rem;
    }

    h2 {
      text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
      padding-bottom: 1em;
      border-bottom: 1px solid;
    }

    @media (max-width: $layout-breakpoint-sm) {

      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 1rem;
      }
    }
  }

}
