@import '../../variables';

h2 {
  border-bottom: 2px solid $text-primary;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15rem;
  padding-bottom: 20rem;
  text-align: center;
  color: $text-inverted;
  //noinspection CssUnknownTarget
  background: url('/assets/pexels-photo-276218.jpeg') no-repeat center center;
  background-size: cover;

  @media (max-width: $layout-breakpoint-sm) {
    padding-top: 9rem;
  }

  .title {
    h1 {
      text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
      font-size: 7rem;
      margin: 0;
      text-transform: full-width;
      font-weight: normal;
      letter-spacing: .2rem;
    }

    h2 {
      text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
      padding-bottom: 1rem;
      border-bottom: 1px solid;
    }

    @media (max-width: $layout-breakpoint-sm) {
      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
  }

}

.content-area-2 {
  display: flex;
  align-content: center;
  justify-content: center;
  background: $background-300;
  border-top: 2px solid $text-primary;
  padding: 1rem 0 1rem 0;
}

.content {
  & > * {
    flex: 1 1 50%;
    padding: 0 1rem 0 1rem;
  }

  @media (max-width: $layout-breakpoint-sm) {
    & > * {
      flex: 1 1 50%;
    }
  }
}

@media (max-width: $layout-breakpoint-sm) {
  [appAdsense] {
    .adsense {
      display: none;
    }

    .adsense:first-child {
      display: block;
    }
  }
}
