@import "../../../variables";

main {
  aside {
    order: 1;
    max-width: 33%;
    padding-right: 2rem;

    @media (max-width: $layout-breakpoint-sm) {
      order: 2;
      max-width: none;
      padding-right: 0;

      .adsense {
        display: none;
      }
    }
  }

  article {
    order: 2;
    width: 100%;

    header {
      .fb-like {
        float: right;
      }
    }
    footer {
      padding-top: 2rem;
    }

    .notice {
      color: $text-muted;
      background: rgb(255, 254, 141);
      border: 1px solid $text-muted;
      padding: 1rem;
    }

    @media (max-width: $layout-breakpoint-sm) {
      order: 1;

      .adsense:first-child {
        display: none;
      }
    }
  }
}
