@import "../../../variables";

main {
  aside {
    order: 1;
    min-width: 25%;

    @media (max-width: $layout-breakpoint-sm) {
      order: 2;

      .adsense {
        display: none;
      }
    }
  }

  article {
    order: 2;
    width: 100%;

    header {
      .fb-like {
        float: right;
      }
    }
    footer {
      padding-top: 2rem;
    }

    @media (max-width: $layout-breakpoint-sm) {
      order: 1;

      .adsense:first-child {
        display: none;
      }
    }
  }
}
