@import "../../../variables";

.content-wrapper {
  background: $background-500;
}

@media (max-width: $layout-breakpoint-sm) {
  .content-area-1 {
    display: none;
  }
}

main {
  padding-top: 1rem;

  aside {
    order: 1;
    max-width: 33%;
    padding-right: 2rem;

    @media (max-width: $layout-breakpoint-sm) {
      order: 2;
      max-width: none;
      padding-right: 0;
    }
  }

  article {
    order: 2;
    width: 100%;

    header {
      .fb-like {
        float: right;
      }
    }
    footer {
      padding-top: 2rem;
    }

    .notice {
      color: $text-muted;
    }

    @media (max-width: $layout-breakpoint-sm) {
      order: 1;

      .adsense:first-child {
        display: none;
      }
    }
  }
}
