@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '../node_modules/highlight.js/styles/default.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: $text-primary;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 300px;
  min-height: 100%;
}

[md-button], [md-raised-button] {
  text-transform: uppercase;
}

a {
  color: $text-secondary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin-bottom: 4rem;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;

  code {
    white-space: inherit;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  width: $layout-breakpoint-lg;
  line-height: 1.5rem;
  margin: auto;

  @media (max-width: $layout-breakpoint-sm) {
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (max-width: $layout-breakpoint-lg) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5rem 0 1.5rem;
  }

  &.full-page {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.adsense {
  width: 100%;
  padding: 1rem;
  text-align: center;

  ins {
    display: inline-block;
  }
}
