$text-primary: rgb(33, 33, 33);
$text-secondary: rgb(24, 24, 194);
$text-inverted: rgba(255, 255, 255, 0.87);
$text-muted: rgb(120, 120, 120);

$background-100: rgb(59, 63, 71);
$background-130: rgb(86, 91, 102);
$background-300: rgb(240, 240, 240);

$layout-breakpoint-lg: 1279px;
$layout-breakpoint-md: 959px;
$layout-breakpoint-sm: 599px;
