$text-primary: rgb(33, 33, 33);
$text-secondary: rgba(78, 100, 111, 1.1);
$text-inverted: rgba(255, 255, 255, .87);
$text-muted: #777;

$background-100: rgb(40, 40, 51);
$background-130: rgb(78, 100, 111);
$background-300: #f5f5f5;
$background-500: #fefefe;

$layout-breakpoint-lg: 1279px;
$layout-breakpoint-md: 959px;
$layout-breakpoint-sm: 599px;
