<md-toolbar color="primary">
  <div fxLayout fxLayoutAlign.xs="center center" class="content">
    <span fxHide.xs fxLayout fxLayoutAlign="center center">
      <img src="/assets/favicon-32x32.png" width="32" height="32" alt="Logo" />
      <a routerLink="">bartcode.co.uk</a>
    </span>
    <span fxHide.xs fxFlex></span>
    <button md-button routerLink="">Home</button>
    <button md-button routerLink="/blog">Blog</button>
    <button md-button routerLink="/about">About</button>
  </div>
</md-toolbar>
