@import '../../variables';

md-toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.44);

  img {
    padding-right: 1rem;
  }

  a {
    color: $text-inverted;
    &:hover {
      text-decoration: none;
    }
  }
}
