@import '../../variables';

md-toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.44);
  opacity: .9;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      padding-right: 1rem;
    }
  }

  .spacer {
    flex: 1 1;
  }

  a {
    color: $text-primary;
    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: $layout-breakpoint-sm) {
    .content {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .logo, .spacer {
      display: none;
    }
  }

}
