@import '../../styles/variables';

mat-toolbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 2;
  color: $text-inverted;
  background: $background-100-opaque;
  transition: height 0.6s ease;

  .logo {
    color: $text-inverted;
    position: relative;
    z-index: 0;
    background: url('/assets/favicon-32x32.png') no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      padding-left: 48px;
    }
  }

  &.full-header {
    @media (min-width: $layout-breakpoint-sm + 1) {
      height: 180px;
      background: $background-100;
      color: $text-inverted;

      .logo {
        font-size: larger;
        height: 170px;
        padding-left: 170px;
        background: url('/assets/mstile-70x70.png') center center no-repeat;
        span {
          display: none;
        }
      }

      button {
        font-size: larger;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
      }
    }
  }

  &.full-header.main-page {
    background: transparent;
  }

  .spacer {
    flex: 1 1;
  }

  a {
    color: $text-primary;
    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: $layout-breakpoint-sm) {
    .content {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .logo, .spacer {
      display: none;
    }
  }

}
