@import "../../../variables";

app-date-post-count {
  padding-right: 10rem;

  @media (max-width: $layout-breakpoint-sm) {
    padding-right: 0;
  }
}

main {
  article {
    header {

    }
    footer {
      text-align: right;
    }
  }
}
