<main fxLayout="column" fxLayout.gt-sm fxLayoutAlign.gt-sm="space-between top" class="content full-page">

  <app-date-post-count fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlexAlign.gt-sm="stretch"></app-date-post-count>

  <div fxFlex fxFlexOrder="1" fxFlexOrder.gt-sm="2">
    <article *ngFor="let post of posts">
      <header>
        <app-post-header [post]="post"></app-post-header>
      </header>
      <section [innerHtml]="post.excerpt">
      </section>
      <footer>
        <button md-button routerLink="/{{ post.relativeUrl }}">Read more</button>
      </footer>
    </article>
  </div>
</main>
