@import "../../../variables";

main {
  aside {
    order: 1;
    max-width: 33%;
    padding-right: 2rem;
    color: $text-muted;

    @media (max-width: $layout-breakpoint-sm) {
      order: 2;
      max-width: none;
      padding-right: 0;

      .adsense {
        display: none;
      }
    }
  }

  & > div {
    order: 2;

    article {
      width: 100%;
      box-sizing: border-box;
      padding: 1rem;
      margin-bottom: 1rem;
      footer {
        text-align: right;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 0 2rem 0;
    }

    @media (max-width: $layout-breakpoint-sm) {
      order: 1;

      .adsense {
        display: none;
      }
    }
  }
}
