<h2><a routerLink="/{{ post.relativeUrl }}">{{ post.metadata.title }}</a></h2>
<ul>
  <li><i class="material-icons">access_time</i> {{ post.published | relativeTime }}</li>
  <li><i class="material-icons">date_range</i> {{ post.published | date: "shortDate"}}</li>
  <li><i class="material-icons">comment</i> {{ post.stats.comments }}</li>
  <li><i class="material-icons">share</i> {{ post.stats.shares }}</li>
  <li>
    <i class="material-icons">label_outline</i>
    <a *ngFor="let tag of post.tags; let isLast = last" routerLink="/tag/{{ tag }}">{{ tag }}<span
      *ngIf="!isLast">, </span></a>
  </li>
</ul>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ post.metadata.title }}",
  "keywords": "{{ post.tags }}",
  "url": "{{ post.metadata.canonicalUrl }}",
  "datePublished": "{{ post.published }}",
  "description": "{{ post.metadata.description }}",
  "articleBody": "{{ post.excerpt }}",
  "author": {
    "@type": "Person",
    "name": "Bartosz Kielczewski"
  }
}


</script>
