@import "../../../variables";

ul {
  color: $text-muted;
  padding: 0 0 1rem 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin: 0 1em 0 0;

    i {
      position: relative;
      top: .1rem;
      font-size: inherit;
    }
  }
}
